# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="{{model}}"
XKBLAYOUT="{{layouts|join(',')}}"
XKBVARIANT=","
XKBOPTIONS="grp:{{grp}},compose:{{compose}},grp_led:{{grp_led}}"

BACKSPACE="guess"

