[connection]
id={{wifi.name}}
uuid={{wifi.uuid}}
type=wifi
permissions=user:{{priveleged_users}}:;

[wifi]
mac-address=wifi.mac
mac-address-blacklist=
mode=infrastructure
ssid={{wifi.name}}

[wifi-security]
psk={{wifi.password}}
key-mgmt=wpa-psk

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto

